@import "../../common/style/color";

.index-true {
  .scroll-view {
    height: calc(100vh - 150px);
    overflow-y: auto;
    // height: calc(100vh - constant(safe-area-inset-bottom));
    // height: calc(100vh - env(safe-area-inset-bottom));
    &.iphonex {
      // height: calc(100vh - constant(safe-area-inset-bottom));
      // height: calc(100vh - env(safe-area-inset-bottom));
    }
  }
  .btn-group {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    padding-bottom: calc(constant(safe-area-inset-bottom));
    padding-bottom: calc(env(safe-area-inset-bottom));
    &.iphonex {
      padding-bottom: calc(constant(safe-area-inset-bottom));
      padding-bottom: calc(env(safe-area-inset-bottom));
    }
    .scan-btn {
      margin: 0;
      flex-grow: 1;
      border-radius: 0;
      font-size: 36px;
      color: white;
      background-color: $c-sub-red;
      &:after {
        border: none;
      }
      &.setting {
        flex-grow: 0;
        background-color: $c-mian-l;
      }
      &.main {
        background-color: $c-sub-green;
      }
      &.disable {
        background-color: $c-sub-gray;
      }
    }
  }
}
.index-false {
  display: none;
}
